* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 13px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  color: #000;
  line-height: 1.8em;
  text-align: center;
  text-indent: 0;
  text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
  text-align: left;
}
ul,
label {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
body a:hover {
  text-decoration: none;
}
input,
button {
  outline: none;
  border: none;
}
img {
  vertical-align: middle;
}
li {
  list-style: none;
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  overflow: hidden;
  visibility: hidden;
}
.clearfix {
  clear: both;
}
.to-top a {
  position: fixed;
  bottom: 64px;
  right: 10px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: #2AD2C9;
  z-index: 999;
}
header {
  height: 118px;
}
header .container .logo {
  text-align: left;
  padding-left: 20px;
  font-size: 40px;
  line-height: 118px;
}
header .container .logo span {
  color: #2AD2C9;
}
header .social-icon ul {
  margin-top: 46px;
}
header .social-icon ul li {
  margin: 0 4px;
  float: right;
}
header .social-icon ul li a {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
header .social-icon ul :nth-child(1) a {
  background: url(../images/img-sprite.png) no-repeat 0 -34px;
}
header .social-icon ul :nth-child(1) a:hover {
  background: url(../images/img-sprite.png) no-repeat 0 0;
}
header .social-icon ul :nth-child(2) a {
  background: url(../images/img-sprite.png) no-repeat -33px -34px;
}
header .social-icon ul :nth-child(2) a:hover {
  background: url(../images/img-sprite.png) no-repeat -33px 0;
}
header .social-icon ul :nth-child(3) a {
  background: url(../images/img-sprite.png) no-repeat -67px -34px;
}
header .social-icon ul :nth-child(3) a:hover {
  background: url(../images/img-sprite.png) no-repeat -67px 0;
}
header .social-icon ul :nth-child(4) a {
  background: url(../images/img-sprite.png) no-repeat -100px -34px;
}
header .social-icon ul :nth-child(4) a:hover {
  background: url(../images/img-sprite.png) no-repeat -100px 0;
}
header .social-icon ul :nth-child(5) a {
  background: url(../images/img-sprite.png) no-repeat -133px -34px;
}
header .social-icon ul :nth-child(5) a:hover {
  background: url(../images/img-sprite.png) no-repeat -133px 0;
}
@keyframes move {
  100% {
    transform: translateY(48px);
  }
}
.navigation .container {
  height: 48px;
  border: 1px solid #C9D2DF;
}
.navigation .container .row .nav ul li {
  float: left;
  border-right: 1px solid #C9D2DF;
}
.navigation .container .row .nav ul li a {
  position: relative;
  display: block;
  height: 48px;
  padding: 14px 10px;
  overflow: hidden;
}
.navigation .container .row .nav ul li a span {
  z-index: 999;
}
.navigation .container .row .nav ul li a::before {
  position: absolute;
  content: "";
  height: 48px;
  top: -48px;
  left: 0;
  width: 100%;
  background: #2AD2C9;
}
.navigation .container .row .nav ul li:nth-child(1) a {
  background: #2AD2C9;
  color: #fff;
}
.navigation .container .row .nav ul li:hover a::before {
  animation: move 0.3s forwards;
  transition: 0.2s;
}
.navigation .container .row .search form {
  float: right;
  display: flex;
  margin: 7px 15px 0 0;
  border: 1px solid #C9D2DF;
}
.navigation .container .row .search form input {
  flex: 1;
  padding-left: 5px;
}
.navigation .container .row .search form span {
  display: inline-block;
  width: 45px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  border-left: 1px solid #C9D2DF;
}
.navigation .container > input,
.navigation .container label {
  display: none;
}
.footer {
  padding: 20px 0 0 0;
  background: #2AD2C9;
}
.footer .container .footer-logo a h3 {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.footer .container .footer-logo a h3 span {
  color: #000;
}
.footer .container .footer-nav {
  margin: auto 0;
}
.footer .container .footer-nav ul {
  margin-top: 22px;
  float: right;
}
.footer .container .footer-nav ul li {
  display: inline-block;
  margin: 0 16px;
}
.footer .container .footer-nav ul li a {
  color: #fff;
}
.footer .container .footer-nav ul li:hover a {
  color: #000;
}
.copyright {
  padding: 20px;
  background: #000;
  color: #fff;
}
@media screen and (max-width: 768px) {
  header {
    height: 95px;
  }
  header .container .logo {
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
  }
  header .container .social-icon ul {
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
  }
  header .container .social-icon ul li {
    float: none;
    display: inline-block;
  }
  .navigation .container {
    position: relative;
    margin: 0 15px;
    border: 1px solid #C9D2DF;
    background: #F8F8F8;
  }
  .navigation .container .row {
    left: -100%;
    display: block;
    padding: 0;
    height: 100%;
    position: relative;
  }
  .navigation .container .row .nav {
    width: 50%;
  }
  .navigation .container .row .nav ul li {
    float: none;
    border: none;
  }
  .navigation .container .row .search {
    float: left;
    padding: 0;
  }
  .navigation .container .row .search form {
    margin: 0;
  }
  .navigation .container label {
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    float: right;
    width: 44px;
    height: 34px;
    margin: 0px;
    border: 1px solid #C9D2DF;
    border-radius: 5px;
    cursor: pointer;
  }
  .navigation .container label span {
    font-size: 26px;
    text-align: center;
    line-height: 34px;
  }
  .navigation .container .checkboxbtn:checked ~ .row {
    left: 0;
  }
  .footer {
    padding: 12px 0;
  }
  .footer .container .footer-logo a h3 {
    margin: 0;
    font-size: 20px;
  }
  .footer .container .footer-nav ul {
    margin-top: 8px;
    float: none;
  }
  .footer .container .footer-nav ul li {
    margin: 0 auto;
    padding: 0 5px;
  }
  .footer .container .footer-nav ul li a {
    font-size: 14px;
  }
}
